/* 
Um título com a classe .titulo e uma cor personalizada.
Um parágrafo com uma fonte diferente da padrão (ex: Roboto, Arial).
Um fundo colorido para a página (ex: background-color: #f0f0f0).
O conteúdo centralizado horizontalmente. --> */
@font-face {
    font-family: 'bebas';
    src: url(../font/BebasNeue-Regular.ttf);
}

.fundo{
background-color: rgb(30, 46, 97);
align-content: center;
}
.titulo{
 color: rgb(253, 253, 253);
 text-align: center;
}
.paragrafo{
    font-family: 'bebas';
    color: rgb(255, 255, 255);
    text-align: center;
}