* {
    margin: 0;
}

.quadrado-pai {
/* sempre agrupar as informaçoes que estão juntas */
    width: 200px;
    height: 380px;

    /* para mudar a margem apenas de um lado especifico, pode colocar a tag margin-top (margem e o nome da onde voce quer colocar a margem ) */
    margin: 10px 20px 20px 100px;
    /* ou colocando na mesma tag, e lembrando que a ordem é a mesma de um relogio */
    background-color:rgb(41, 94, 129) ;
    border: 3px solid black;
    border-radius: 20px;
    color: rgb(238, 238, 116);
    text-align: center;

    /* a mesma coisa da margin serve para o padding */
    padding: 10px
        /* padding:  espacamento interno para fazer a margem por dentro, nesse caso tem que mexer no padding e tirar o valor da alutra e largura */
}


.quadrado-pai img {
    /* nessa tag a gente fala para o css ir atras do quadrado-pai e procurar a img que tem la */
    
    width: 100%;
    height: 200px;
    border-radius: 20px;
    /* deixar o objeto no caso a imagem centralizada certinho */
    object-fit: cover;

    object-position: center;
    /* ao diminuir a janela o conteudo conttinua centralizado */

}

.quadrado-pai a {
 font-size: 20px;
 text-decoration: none;
 color: white;
/* trasformar o tamanho do texto em maiuscula ou minuscula */
 text-transform: lowercase;
 font-family: 'Trebuchet MS';

 background-color: black;
 padding: 5px;


 /* arredondar borda */
 border-radius: 20px;
 /* da uma margem na borda e deixar ela cor uma cor solida */

 border: 3px solid #ffff93;
 transition: 0.3s;
 /* transição para o padrao na hora que o mouse sai de cima do botão */
}

/*  estilização ao clicar no botão*/
.quadrado-pai a:hover{

    border: 3px solid black;
    background-color: #ffff93;
    color:black;
    transition: 0.3s;
    /* transição para as mundaças que teve no botão e o tempo para essa transição */
}

