/*  <!-- Um <h1> com uma cor vibrante.
Um parágrafo com fonte serifada (ex: Georgia ou Times).
Um fundo de cor clara.
Um link com cor personalizada que muda ao passar o mouse (hover). -->

 */
@font-face {
    font-family: 'dm';
    src: url(../font/DMSerifDisplay.ttf);
}



.fundo{
    background-color: rgb(137, 216, 226);
    height: 100vh;
}

 .titulo{
    color: rgb(254, 37, 17);

 }

 .paragrafo{
    font-family: 'dm';


 }

 .link{
    color: red;
    text-decoration: none; 
    transition: color 0.3s; 
 }
 .link:hover {
     color:brown
 }